<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Roles</title>
</head>
<body>

    <h2>New User Account</h2>

    <form action="display_role" method="POST">

        <table>
            <tr>
                <td>
                    Enter Role Name:
                </td>
                <td>
                    <label>
                        <input type="text" name="role_name">
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    Enter Description:
                </td>
                <td>
                    <label>
                        <input type="text" name="role_desc">
                    </label>
                </td>
            </tr>
        </table>

        <input type="submit">

    </form>

    <br>


    <form action="/index" method="POST">
        <input id="refresh" type="submit" value="Return to Index">
    </form>

</body>
</html>
