<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Relate Relation Privilege, User Role and Table</title>
</head>
<body>

    <h1>Relate Relation Privilege, User Role and Table</h1>

    <form action="rel_role_table" method="POST">

        <table>
            <tr>
                <td>
                    Enter Role Name:
                </td>
                <td>
                    <label>
                        <input type="text" name="role_id">
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    Enter Table Name:
                </td>

                <td>
                    <label>
                        <input type="text" name="table_name">
                    </label>
                </td>
            </tr>
        </table>

        <input type="submit">
    </form>

    <br>

    <form action="/index" method="POST">
        <input id="refresh" type="submit" value="Return to Index">
    </form>


</body>
</html>